@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: none;
  font-family: "Open Sans", sans-serif;
}
body {
  margin-top: 0;
  color: #848484;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

.nav-link:active {
  color: #ff556e;
}
.nav-link:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:active {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.logo {
  width: 150px;
}

.nav-item {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.download-button-white {
  margin: 0 20px 0 20px;
  color: #ff556e;
  font-size: 14px;
  font-weight: 900;
  border-color: #ff556e;
  background-color: white;
  border-radius: 20px;
  border-style: solid;
  padding: 10px 25px 10px 25px;
  transition: all 50ms ease-in-out;
}

.base-container {
  padding: 40px 30px;
}

#welcome {
  padding-top: 120px;
}

#green-diamond-shape {
  width: 15px;
}

#yellow-circle-shape {
  width: 25px;
  float: right;
}

#intro-text {
  padding: 50px 200px 10px 200px;
}

h1 {
  text-align: center;
  font-size: 65px;
  font-weight: bold;
  color: black;
}

.app-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 25px;
  padding-bottom: 25px;
}
.logo-button {
  display: inline-block;
  width: 20%;
}
.download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  background-color: #ff556e;
  color: white;
  border-style: solid;
  border-color: #ff556e;
  border-radius: 20px;
  padding: 10px 25px 10px 25px;
  gap: 4px;
}

.blue-circle-shape {
  width: 60px;
}

.container-mobile {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#purple-iphone {
  width: 750px;
  display: block;
  object-position: center;
}

.mobile-shadow:before {
  content: "";
  position: absolute;
  width: 90%;
  left: 5%;
  top: 100%;
  height: 10px;

  background-image: radial-gradient(
    ellipse,
    rgba(0, 0, 0, 0.35) 35%,
    rgb(255, 255, 255) 80%
  );
  transition: all 0.3s;
  opacity: 0;
}

.mobile-shadow:hover {
  transform: translateY(-5px);
  animation: move-box 1.5s infinite;
}

@keyframes move-box {
  50% {
    transform: translateY(6px);
  }
}

.mobile-shadow:hover:before {
  top: 105%;
  opacity: 0.4;
  animation: mobile-shadow 1.5s infinite;
}

@keyframes mobile-shadow {
  50% {
    transform: translateY(-5px);
    opacity: 1;
  }
}

#container-functions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 40px;
}

.round-icon {
  width: 80px;
  padding: 20px;
  border-radius: 50%;
}
#situation-icon {
  background-color: #daf4ef;
}

#identify-icon {
  background-color: #ebe7fa;
}

#tasks-icon {
  background-color: #f8e5ea;
}

#social-icon {
  background-color: #f8f1de;
}

#get-icon {
  background-color: #e1f2fa;
}

.function-item {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.bounce:hover {
  border-radius: 50%;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  20%,
  40%,
  60%,
  80% {
    transform: translateY(0px);
  }

  30% {
    transform: translateY(-150px);
  }

  50% {
    transform: translateY(-100px);
  }

  70% {
    transform: translateY(-40px);
  }

  90% {
    transform: translateY(-20px);
  }
}

#description {
  padding: 30px 0 0 0;
}
#container-organize-time {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7fafd;
  padding: 80px 0 80px 0;
}
#organize-print-screens {
  width: 550px;
  height: auto;
}

#organize-text {
  width: 450px;
}

h3 {
  font-size: 40px;
  color: black;
}
#calendar {
  width: 500px;
}
#schedule-tasks {
  width: 400px;
}

.container-schedule {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e8eff6;
  padding: 80px 30px;
}
.icon-calendar {
  width: 16%;
}

#schedule-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
#button-schedule {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #9a67e7;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 4px 5px 4px 5px;
  text-align: center;
}

#button-tracking {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #f7fafd;
  color: #848484;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 4px 5px 4px 5px;
  text-align: center;
}
#button-organize {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #f7fafd;
  color: #848484;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 4px 5px 4px 5px;
  text-align: center;
}

#terms-privacy-buttons {
  display: flex;
}
.download-button-terms {
  font-size: 14px;
  font-weight: bold;
  background-color: #ff556e;
  color: white;
  border-style: solid;
  border-color: #ff556e;
  border-radius: 20px;
  padding: 10px 25px 10px 25px;
  gap: 4px;
}
.download-button-privacy {
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  color: #848484;
  border-style: solid;
  border-color: #848484;
  border-radius: 20px;
  padding: 10px 25px 10px 25px;
  gap: 4px;
  margin-left: 10px;
}

#screens {
  background-color: #f7fafd;
}
#heading-testimonials {
  text-align: center;
}
.container-user-testimonials {
  padding-top: 30px;
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#icon-stars {
  width: 100px;
  flex-wrap: wrap;
}
.testimonial-text {
  padding: 10%;
  font-style: italic;
}
.customer-name {
  font-weight: bold;
  color: black;
}
.container-testimonials {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.client-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 40px;
  background-color: white;
  margin: 30px 40px;
}
.customer-logo {
  padding: 15px;
}
.container-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 70px 60px;
  background-color: #e8eff6;
}

.counter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-number {
  font-size: 60px;
  font-weight: 700;
  color: black;
}
.counter-image {
  height: 50px;
}
.counter-category {
  font-size: 14px;
}

.container-end {
  padding: 70px 60px;
}
#yellow-circle-shape-bottom {
  width: 30px;
  z-index: -1;
}

#blue-circle-shape-bottom {
  width: 70px;
  z-index: -1;
  float: left;
}

#green-diamond-bottom {
  width: 15px;
  z-index: -1;
  float: right;
}

#iphone-bottom {
  width: 800px;
  z-index: 1;
}

footer {
  border-top: solid 1px lightgray;
}
#menu-footer {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  padding: 50px 30px 30px 30px;
}

ul {
  list-style: none;
  padding-left: 0;
  line-height: 2.2;
}
.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
h4 {
  margin-top: 0;
}

li {
  font-size: 12px;
}
.social-media-icons {
  display: flex;
  align-items: first baseline;
  gap: 5px;
}

#copyright {
  text-align: center;
  font-size: 12px;
  margin-bottom: 40px;
}

@media (min-width: 320px) and (max-width: 834px) {
  p {
    text-align: center;
  }

  h1 {
    font-size: 35px;
  }

  .logo {
    width: 100px;
  }
  #intro-text {
    padding:0;
  }

  #purple-iphone {
    width: 350px;
  }
  .blue-circle-shape {
    width: 30px;
  }
  #green-diamond-shape {
    width: 10px;
  }

  #yellow-circle-shape {
    width: 15px;
  }
  #welcome {
    padding-bottom: 10px;
    padding-top: 70px;
  }
  #container-functions {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #container-organize-time {
    padding: 20px;
  }
  .container-schedule {
    padding-top: 40px;
  }
  #organize-print-screens {
    width: 350px;
    height: auto;
    padding-bottom: 20px;
  }
  h3 {
    font-size: 30px;
  }
  #organize-text {
    padding: 20px;
    text-align: center;
  }
  #lightbox {
    align-self: center;
  }
  #term-privacy-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
  #calendar {
    width: 350px;
  }
  .container-testimonials {
    flex-wrap: wrap;
  }
  .testimonial {
    padding-top: 20px;
  }
  .testimonial-text {
    padding-top: 5px;
    padding-bottom: 20px;
  }

  .client-logos {
    margin: none;
    padding: 0;
  }

  .container-counter {
    flex-wrap: wrap;
  }
  .container-end {
    padding: 20px;
  }
  #iphone-bottom {
    width: 300px;
  }
  #blue-circle-shape-bottom {
    width: 23px;
  }
  #menu-footer {
    flex-wrap: wrap;
  }
  h4 {
    font-size: 12px;
  }
}
